@import url(https://fonts.googleapis.com/earlyaccess/amiri.css);

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Amiri', serif;
    background-color: #fdf1ec;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}




/*span {
    display: inline-block;
    height: 50px;
    font-family: 'Suranna', serif;
    font-size: 34px;
}*/

.wrapper {
    height: 210px;
    width: 327px;
    /*margin: 50px auto;*/
    border-radius: 7px 7px 7px 7px;
    /* VIA CSS MATIC https://goo.gl/cIbnS */
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.product-img {
    float: right;
    height: 210px;
    width: 163px;
}

    .product-img > img {
        border-radius: 7px 0 0 7px;
    }

.product-info {
    float: right;
    height: 210px;
    width: 163px;
    border-radius: 0 7px 10px 7px;
    background-color: #ffffff;
}

.product-text {
    height: 150px;
    width: 163px;
}

    .product-text > h1 {
        margin: 0 0 0 19px;
        padding-top: 26px;
        font-size: 18px;
        color: #474747;
    }

    .product-text > h1,
    .product-price-btn > p {
        font-family: 'Bentham', serif;
    }

    .product-text > h2 {
        margin: 0 0 23px 38px;
        font-size: 13px;
        font-family: 'Raleway', sans-serif;
        font-weight: 200;
        text-transform: uppercase;
        color: #d2d2d2;
        letter-spacing: 0.2em;
    }

    .product-text > p {
        height: 62px;
        margin: 0 0 0 38px;
        font-family: 'Playfair Display', serif;
        color: #8d8d8d;
        line-height: 1em;
        font-size: 15px;
        font-weight: lighter;
        overflow: hidden;
    }

.product-price-btn {
    height: 51px;
    width: 163px;
    margin-top: 8px;
    position: relative;
}

    .product-price-btn > p {
        display: inline-block;
        position: absolute;
        top: -6px;
        height:25px;
        font-family: 'Trocchi', serif;
        margin: 0 0 0 19px;
        font-size: 14px;
        font-weight: lighter;
        color: #474747;
    }



.product-price-btn > button {
    float: left;
    display: inline-block;
    height: 25px;
    width: 88px;
    margin: 0 20px 0 8px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background-color: #9cebd5;
    cursor: pointer;
    outline: none;
}

    .product-price-btn > button:hover {
        background-color: #79b0a1;
    }

