@import url(https://fonts.googleapis.com/earlyaccess/amiri.css);
@import url(https://fonts.googleapis.com/earlyaccess/lateef.css);
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Ink&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@700&family=Reem+Kufi+Ink&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo+Play:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gulzar&display=swap');
body {
    padding-top: 50px;
    font-family: 'Amiri', serif;
    background-color: whitesmoke;
    max-width: 100%;
    /*letter-spacing: 0.1em;*/
}

.Fund {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url("/images/newbg.jpg");
    background-color: rgba(0,0,0,.3);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.highlighted {
    background-color: rgba(0,0,0,.3);
}

.kotobi {
    font-family: 'Reem Kufi Fun', sans-serif;
    color: white;
    font-size: 100px;
}

.navbar a {
    font-family: 'Aref Ruqaa', serif;
    font-size: 18px;
}

.kotobien {
    color: white;
    font-size: 100px;
}
/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}








.wrapper {
    height: 215px;
    width: 330px;
    margin: 25px auto;
    /* border:2px solid;*/
    border-radius: 10px;
    /* VIA CSS MATIC https://goo.gl/cIbnS */
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.20);
}

.product-img {
    float: left;
    height: 210px;
    width: 163px;
}

    .product-img img {
        border-radius: 7px 0 0 7px;
    }

.product-info {
    float: left;
    height: 210px;
    width: 163px;
    padding-right: 5px;
    /* border-radius: 0 7px 10px 7px;*/
    background-color: #ffffff;
    /* border-left:2px solid ;*/
}

.product-text {
    height: 160px;
    width: 163px;
}

    .product-text h1 {
        margin: 0 0 0 18px;
        padding-top: 10px;
        font-size: 17px;
        color: #474747;
    }

    .product-text h1,
    .product-price-btn p {
        /* font-family: 'Bentham', serif;*/
    }

    .product-text h2 {
        margin: 0 0 23px 38px;
        font-size: 13px;
        /* font-family: 'Raleway', sans-serif;*/
        font-weight: 200;
        text-transform: uppercase;
        color: #d2d2d2;
        letter-spacing: 0.2em;
    }

    .product-text p {
        height: 90px;
        margin: 0 0 0 19px;
        /*font-family: 'Playfair Display', serif;*/
        color: #8d8d8d;
        line-height: 1.3em;
        font-size: 15px;
        font-weight: lighter;
        overflow: hidden;
    }

        .product-text p > a {
            font-size: 12px;
            font-weight: lighter;
        }

.product-price-btn {
    height: 50px;
    width: 163px;
    margin-top: 2px;
}

    .product-price-btn p {
        display: inline-block;
        position: absolute;
        top: 68%;
        padding-right: 18%;
        height: 20px;
        /* font-family: 'Trocchi', serif;*/
        margin: 0 0 0 18px;
        font-size: 14px;
        font-weight: lighter;
        /*font-family: 'Raleway', sans-serif;*/
        font-size: 12px;
        font-weight: 200;
        text-transform: uppercase;
        letter-spacing: 0.2em;
    }

    .product-price-btn > p > span {
        display: inline-block;
        height: 20px;
        /* font-family: 'Suranna', serif;*/
        font-size: 15px;
    }

    .product-price-btn a {
        display: inline-block;
        height: 35px;
        width: 35px;
        text-align: center;
        margin: 0 10px 0 8px;
        padding: 10px 10px 10px 10px;
        box-sizing: border-box;
        border: transparent;
        border-radius: 30px;
        /* font-family: 'Raleway', sans-serif;*/
        font-size: 18px;
        font-weight: 200;
        text-transform: uppercase;
        color: whitesmoke;
        background-color: #337ab7;
        cursor: pointer;
        outline: none;
    }

        .product-price-btn a:hover {
            background-color: #3a90d9;
        }

.tablesStyle {
    background-color: aliceblue;
    text-align: center;
    border-radius:10px;
}

.tablesStyle a {
    color:black;
}
.tablesStyle td
{
    border-radius:10px;
}

    .tablesStyle th {
        text-align: center;
        background-color: #337ab7;
        color:white;
    }


.Social {
    padding:10px;
    font-size: 20px;
    margin-right:0px;
    margin-bottom:5px;
    width: 40px;
    text-align: center;
    text-decoration: none;
}
    .fa:hover {
        opacity: 1;
    }

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-whatsapp {
    background-color: #25d366;
    color: #FFF;
}

.whatsdet {
    width: 45px;
    height: 45px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 23px;
    z-index: 100;
}

.facedet {
    width: 45px;
    height: 45px;
    bottom: 40px;
    right: 40px;
    background: #3B5998;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 23px;
    z-index: 100;
}
.insdet {
    width: 45px;
    height: 45px;
    bottom: 40px;
    right: 40px;
    background: #125688;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 23px;
    z-index: 100;
}