
body {
    padding-top: 5rem;
    font-family: 'Aref Ruqaa Ink', serif;
    background-color: whitesmoke;
    width: 100%;
    /*letter-spacing: 0.1em;*/
}

.Fund {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url("/images/newbg.jpg");
    background-color: rgba(0,0,0,.3);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.highlighted {
    background-color: rgba(0,0,0,.3);
}

.kotobi {
    font-family: 'Reem Kufi Fun', sans-serif;
    color: white;
    font-size: 100px;
}

.navbar a {
    font-family: 'Aref Ruqaa', serif;
    font-size: 18px;
}

.kotobien {
    color: white;
    font-size: 100px;
}
/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15rem;
    padding-right: 15rem;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width:33rem;
}

/*.form-control{
    width:35%;
}*/







.wrapper {
    height: 21rem;
    width: 100%;
    margin: 1.5rem auto;
    /* border:2rem solid;*/
    /* VIA CSS MATIC https://goo.gl/cIbnS */
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.20);
}

    .wrapper:hover {
        transform: scale(1.1);
        z-index: 9;
    }

.product-img {
    float: left;
    height: 100%;
    width: 50%;
}

    .product-img img {
        border-radius: 0 0 0 0;
        height: 100%;
        width: 100%;
    }

.product-info {
    float: right;
    height: 100%;
    width: 50%;
    padding-right: 1rem;
    border-radius: 0 7px 7px 0;
    background-color: #ffffff;
    /* border-left:2rem solid ;*/
}

.product-text {
    height: 14rem;
    width: 100%;
}

    .product-text > h1 {
        /* margin: 0 0 0 1rem;*/
        /*padding-top: 10rem;*/
        margin-top: 2rem;
        font-size: 17px;
        color: #474747;
    }

    .product-text > h5 {
        margin: 0 0 1rem 1rem;
        font-size: 15px;
        /* font-family: 'Raleway', sans-serif;*/
        font-weight: 200;
        text-transform: uppercase;
        color: #8d8d8d;
        /* line-height: 1.3em;*/
        overflow: hidden;
    }

        .product-text > h5 > a {
            font-size: 12px;
            font-weight: lighter;
        }



.rate {
    text-align: center;
    height: 0.5rem;
    width: 100%;
    margin-right: 30%;
}

    .rate:not(:checked) > input {
        position: fixed;
        top: -9999px;
    }

    .rate:not(:checked) > label {
        float: right;
        width: 1em;
        overflow: hidden;
        white-space: nowrap;
        font-size: 12px;
        color: #ccc;
    }

        .rate:not(:checked) > label:before {
            content: '★ ';
        }

    .rate > input:checked ~ label {
        color: #ffc700;
    }



.tablesStyle {
    background-color: aliceblue;
    text-align: center;
    border-radius: 10px;
}

    .tablesStyle a {
        color: black;
    }

    .tablesStyle td {
        border-radius: 10px;
    }

    .tablesStyle th {
        text-align: center;
        background-color: #337ab7;
        color: white;
    }


.Social {
    padding: 1rem;
    font-size: 20px;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
    width: 4rem;
    text-align: center;
    text-decoration: none;
    border-radius: 40%;
}

    .Social:hover {
        transform: scale(1.1);
        color: white;
        text-decoration: none;
    }

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-whatsapp {
    background-color: #25d366;
    color: #FFF;
}

.whatsdet, .facedet, .insdet {
    width: 5rem;
    height: 5rem;
    padding: 1.5rem;
    bottom: 1rem;
    right: 1rem;
    color: #FFF;
    border-radius: 45%;
    text-align: center;
    font-size: 23px;
}

.whatsdet {
    background-color: #25d366;
}

.facedet {
    background: #3B5998;
}

.insdet {
    background: #125688;
}
